name: Debug Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Get current time in JST
      id: time
      run: |
        JST_TIME=$(TZ=Asia/Tokyo date +'%Y%m%d-%H%M%S')
        JST_TITLE=$(TZ=Asia/Tokyo date +'%Y/%m/%d %H:%M:%S')
        echo "timestamp=${JST_TIME}" >> $GITHUB_OUTPUT
        echo "title=${JST_TITLE}" >> $GITHUB_OUTPUT

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Cache Gradle packages
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Debug APK
      run: ./gradlew assembleDebug

    - name: Rename APK
      run: |
        mv app/build/outputs/apk/debug/pocketlogin-*-debug.apk app/build/outputs/apk/debug/pocketlogin-debug-${{ steps.time.outputs.timestamp }}.apk

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        name: ${{ steps.time.outputs.title }}
        tag_name: debug-${{ steps.time.outputs.timestamp }}
        draft: false
        prerelease: true
        files: |
          app/build/outputs/apk/debug/pocketlogin-debug-${{ steps.time.outputs.timestamp }}.apk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}